/.DS_Store
/assignment.c
/assignmentSkeleton1.c
/assignmentSkeleton2_FIX
/assignmentSkeleton2_FIX.c
/assignmentV1.c
/assignmentV2.1.c
/assignmentWei.docx
/assignmentv3.c
/assignmentv4
/assignmentv4.c
/assignmentv5
/weiAssignment.pdf